description = "Default"

[session]

[localePicker]
forceUrl = 1

[staticPage]
default = 1
==
<!DOCTYPE html>
<html lang="{{ localePicker.activeLocale }}">
{% partial 'template/head' %}
<body class="layout-default-static page-{{ this.page.id }}">
{% partial 'template/header' %}

<div class="block-content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h1>{{ this.page.title }}</h1>

                <div class="content">
                    {% page %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if about_title and about_content %}
    <div class="block-about">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-8">
                    <div class="content font-size-big3">
                        {% if about_pretitle %}
                            <div class="pretitle-lined white">{{ about_pretitle }}</div>
                        {% endif %}

                        <h2 class="h1">{{ about_title }}</h2>

                        {{ about_content|raw }}

                        {% if about_link_url and about_link_name %}
                            <a href="{{ about_link_url|staticPage }}" class="btn btn-secondary">
                                {{ about_link_name }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% partial 'template/footer' %}
{% partial 'template/scripts' %}
</body>
</html>

{variable name="about_pretitle" type="text" span="full" label="Pré-titre" tab="A propos"}{/variable}
{variable name="about_title" type="text" span="full" label="Titre" tab="A propos"}{/variable}
{variable name="about_content" type="richeditor" span="full" label="Contenu" tab="A propos"}{/variable}

{variable name="about_link_name" type="text" span="left" label="Texte du bouton" tab="A propos"}{/variable}
{variable name="about_link_url"  type="staticpagepicker" emptyOption="-" span="left" label="Page cible du bouton" tab="A propos"}{/variable}
