
.font-size-base {
    font-size: $font-size-base;
    line-height: 32px;
}

.font-size-sm, .small {
    font-size: $font-size-sm;
    line-height: 29px;
}

.font-size-xs {
    font-size: $font-size-xs;
    line-height: 24px;
}
