<div class="form-group">
    <label for="{{ type }}_company">{{ 'Entreprise '|_ }}</label>
    <input id="{{ type }}_company" type="text" class="form-control" name="{{ type }}_company">
    <div data-validate-for="{{ type }}_company"></div>
</div>

<div class="form-group">
    <label for="{{ type }}_lines">{{ 'Adresse'|_ }}</label>
    <textarea id="{{ type }}_lines" type="text" name="{{ type }}_lines" class="form-control" rows="4"></textarea>
    <div data-validate-for="{{ type }}_lines"></div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label for="{{ type }}_zip">{{ 'NPA'|_ }}</label>
            <input id="{{ type }}_zip" name="{{ type }}_zip" type="text" class="form-control">
            <div data-validate-for="{{ type }}_zip"></div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="form-group">
            <label for="{{ type }}_city">{{ 'Lieu'|_ }}</label>
            <input id="{{ type }}_city" name="{{ type }}_city" type="text" class="form-control">
            <div data-validate-for="{{ type }}_city"></div>
        </div>
    </div>
</div>

<div class="{{ __SELF__.useState ? 'mall-two-fields' }}" id="countryState_{{ type }}">
    {% partial __SELF__ ~ '::countrystate' type=type %}
</div>
