{% put scripts %}
    <script>
        $(function () {
            $('.js-mall-toggle-shipping-address').on('click', function () {
                $('.mall-shipping-address').toggle(this.checked);
            });
            $('.js-toggle-school').on('click', function () {
                $('.school-block').toggle(this.checked);
            });
            $('.js-mall-toggle-guest-signup').on('click', function () {
                $('.mall-signup__password-inputs').toggle(! this.checked);
            });

            $('select[name="goldtest_school_title"]').on('change', function() {
                if (this.value === 'CUSTOM') {
                    $('.school-title-other-block').show();
                } else {
                    $('input[name="goldtest_school_title_other"]').val('');
                    $('.school-title-other-block').hide();
                }
            });
        })
    </script>
{% endput %}
