<div class="mall-signup-terms form-group">
    <div class="custom-checkbox">
        <input class="custom-control-input js-mall-toggle-signup-terms"
               type="checkbox"
               name="terms_accepted" id="terms_accepted"
               value="1">

        <label class="custom-control-label" for="terms_accepted">
            <a href="{{ 'conditions-generales-de-vente'|staticPage }}"
               target="_blank">
                {{ "J'accepte les conditions de vente"|_ }}
            </a>
        </label>
        <div data-validate-for="terms_accepted"></div>
    </div>
</div>

{% put scripts %}
    <script>
        $(function () {
            {# Disable the signup  button until the terms are accepted #}
            $('.mall-btn-signup').prop('disabled', true)
            $('.js-mall-toggle-signup-terms').on('click', function () {
                $('.mall-btn-signup').prop('disabled', !this.checked);
            });
        })
    </script>
{% endput %}