<div class="col-lg-6 mall-products-item" data-st="{{ item.stock }}"

{% if item.product.getPropertyValueBySlug('couleurs') %}
data-cl="{{ item.product.getPropertyValueBySlug('couleurs') }}"
{% else %}
data-cl="0"
{% endif %}
>
    <a href="{{ productPage|page({slug: item.slug, variant: item.variantHashId}) }}"
       data-mall-item-id="{{ item.prefixedId }}">
        <div class="mall-products-item__top-icons-left" style="float:left;">
        {% if item.stock > 0 %}
            <span class="">{{  'En stock' |_ }}</span>
        {% endif %}
        </div>
        <br>
       
        <div class="mall-products-item__top-icons">
            <span class="{{ 'category-' ~ __SELF__.category.slug }}"></span>
            <span class="{{ 'gender-' ~ item.gender_property }}" title="{{ item.gender_property|_ }}"></span>
        </div>

        <div class="mall-products-item__image">
            <img srcset="{{ item.image.thumb('auto', 540) }} 1x, {{ item.image.thumb('auto', 1080) }} 2x"
                 src="{{ item.image.thumb('auto', 540) }}"
                 alt="{{ item.name }}"/>
        </div>
        <div class="mall-products-item__info">
            <div class="mall-products-item__category">
                {{ item.product.getPropertyValueBySlug('pre-titre-categorie') }}
            </div>

            <div class="mall-products-item__name">
                {{ item.name }}
            </div>

            <div class="mall-products-item__gender">
                {{ item.gender_property|_ }}
            </div>


            {% if __SELF__.category.slug != 'league5' or user.goldtest_is_school_member %}
                {% set price = item.price() %}
                {% set isReduced = item.oldPrice.count > 0 %}
                <div class="mall-products-item__price {{ isReduced ? 'reduced-price' }} {{ price.isCustomerSpecific ? 'special' }}">
                    {{ price.string | raw }}
                </div>

                {% if price.official or item.oldPrice.count > 0 %}
                    <div class="mall-products-item__old-price">
                        {% if price.official %}
                            {{ price.official.string | raw }}
                        {% else %}
                            {{ 'au lieu de'|_ }} {{ item.oldPrice().string | raw }}
                        {% endif %}
                    </div>
                {% endif %}

                
            {% else %}
                <div class="mall-products-item__cant_see_price">
                    {{ 'Connectez-vous pour voir le prix'|_ }}
                </div>
            {% endif %}
        </div>
    </a>
</div>
