<div class="col-lg-6 mall-products-item  ">
    <a href="{{ this.page.fileName|page({slug: item.slug, variant: item.variantHashId}) }}"
       data-mall-item-id="{{ item.prefixedId }}">
        <div class="mall-products-item__top-icons">
            <span class="{{ 'category-' ~ item.categories.first.slug }}"></span>
            <span class="{{ 'gender-' ~ item.gender_property }}" title="{{ item.gender_property }}"></span>
        </div>

        <div class="mall-products-item__image">
            <img src="{{ item.image.thumb('auto', 540) }}" alt="{{ item.name }}"/>
        </div>
        <div class="mall-products-item__info">
            <div class="mall-products-item__category">
                {{ item.product.getPropertyValueBySlug('pre-titre-categorie') }}
            </div>

            <div class="mall-products-item__name">
                {{ item.name }}
            </div>

            <div class="mall-products-item__gender">
                {{ item.gender_property }}
            </div>

            {% set price = item.price() %}
            {% set isReduced = item.oldPrice.count > 0 %}
            <div class="mall-products-item__price {{ isReduced ? 'reduced-price' }} {{ price.isCustomerSpecific ? 'special' }}">
                {{ price.string | raw }}
            </div>

            {% if price.official or item.oldPrice.count > 0 %}
                <div class="mall-products-item__old-price">
                    {% if price.official %}
                        {{ price.official.string | raw }}
                    {% else %}
                        {{ 'au lieu de'|_ }} {{ item.oldPrice().string | raw }}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </a>
</div>
