[viewBag]

[mallDependencies]
==
<?php
function onStart() {
    // Set page URL for meta property
    $this->page->fullUrl = $this->currentPageUrl();
}
?>
==
{% if this.page.meta_description |length %}
    {% set meta_description=this.page.meta_description |striptags %}
{% else %}
    {% set meta_description=this.theme.meta_description %}
{% endif %}

{% if this.page.meta_title |length %}
    {% set meta_title=this.page.meta_title %}
{% else %}
    {% set meta_title=this.page.title %}
{% endif %}
<head>
    <meta charset="utf-8">
    <title>{{ meta_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta name="description" content="{{ meta_description }}">

    <meta property="og:url" content="{{ this.page.fullUrl ? : ( '/'|app ) ~ this.page.url }}">
    <meta property="og:title" content="{{ meta_title }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ meta_description }}">
    {% if this.page.meta_image is not empty %}
        <meta property="og:image" content="{{ this.page.meta_image }}">
    {% endif %}

    <link href="{{ ['assets/scss/theme.scss']|theme }}.css" rel="stylesheet">
    <link href="{{ 'assets/vendor/sweetalert2/sweetalert2.min.css'|theme }}" rel="stylesheet">
    {% styles %}
    {% component 'mallDependencies' %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154465717-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-154465717-1');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '573860596550639');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=573860596550639&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

</head>