[viewBag]
==

<script src="{{ [
    'assets/vendor/jquery/jquery-3.4.1.min.js',

    '@framework',
    '@framework.extras',

    'assets/vendor/popper/popper-1.15.0.min.js',

    'assets/vendor/bootstrap/js/index.js',
    'assets/vendor/bootstrap/js/util.js',
    'assets/vendor/bootstrap/js/alert.js',
    'assets/vendor/bootstrap/js/button.js',

    'assets/vendor/bootstrap/js/carousel.js',
    'assets/vendor/bootstrap/js/collapse.js',
    'assets/vendor/bootstrap/js/dropdown.js',
    'assets/vendor/bootstrap/js/modal.js',
    'assets/vendor/bootstrap/js/scrollspy.js',
    'assets/vendor/bootstrap/js/tab.js',

    'assets/vendor/bootstrap/js/tooltip.js',
    'assets/vendor/bootstrap/js/popover.js',
    'assets/vendor/sweetalert2/sweetalert2.min.js',

    'assets/js/app.js',
]|theme }}.js"></script>

<script>
    let lastVisitDate = localStorage.getItem('gt_lastVisitDate');
    if (!lastVisitDate) {
        const today = new Date();
        lastVisitDate = today.toISOString();
        localStorage.setItem('gt_lastVisitDate', lastVisitDate);
    }

    $(document).ready(function() {
        const today = new Date();
        let lastVisitDate = new Date(localStorage.getItem('gt_lastVisitDate'));
        if ( today.getDate() !== lastVisitDate.getDate() ) {
            // Show the popup only on the first visit of the day
            localStorage.setItem('gt_lastVisitDate', today.toISOString());
        }

        if( $('title') == 'Login' ){
            Swal.fire({
                title: null,
                html: `<img src="{{ 'assets/images/annoncegeneral_001.png'|theme }}" width="100%"/>`,
                width: 750,
                showCloseButton: true,
                showCancelButton: false,
                showConfirmButton: false,
                confirmButtonColor: '#d33',
                confirmButtonText: 'Fermer',
            });
        }
    });
</script>

{% scripts %}

{% flash %}
    <p data-control="flash-message"
       class="flash-message fade {{ type }}"
       data-interval="{{ type in ['error', 'warning'] ? 15 : 5 }}">
        {{ message }}
    </p>
{% endflash %}
