<div class="block-category-slideshow block-club5 {{ image }}-image">
    <div class="container text-center">
        <div class="pretitle-lined">{{ 'Pour tous'|_ }}</div>
        <h2 class="h1">Club 5</h2>
    </div>

    <div class="carousel-wrapper">
        <div class="row no-gutters">
            <div class="col-lg-6 {{ image == 'right' ? 'offset-lg-2 offset-xl-1 order-lg-2' }}">
                <div id="carouselClub5" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for block in shop_club5_blocks %}
                            <div class="carousel-item carousel-item-{{ loop.index }} {{ loop.first ? 'active' }}"
                                 data-interval="10000">
                                <img src="{{ block.img_product|media }}" alt="" class="product">
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselClub5" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">{{ 'Précédent'|_ }}</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselClub5" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">{{ 'Suivant'|_ }}</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4  {{ image == 'right' ? 'order-lg-1 offset-xl-1' : 'offset-lg-2 offset-xl-1' }} side-description align-self-center">
                <h3>{{ shop_club5_title }}</h3>
                <hr>
                <div class="content">
                    {{ shop_club5_content|raw }}
                </div>

                {% if shop_club5_link_name and shop_club5_link_url %}
                    <a href="{{ shop_club5_link_url }}" class="btn btn-primary">{{ shop_club5_link_name }}</a>
                {% endif %}
            </div>
        </div>
    </div>

    <style type="text/css">
        {% for block in shop_club5_blocks %}
        #carouselClub5 .carousel-item-{{ loop.index }}::before {
            background-image: url({{ block.img_background|media }});
        }
        {% endfor %}
    </style>
</div>
